main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../img/background/background-connexion.jpg);
  background-size: cover;
  padding-top: 0;
}

.order_form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: white;
  padding: 10px;
}

.order_form > ul {
  list-style: none;
  padding: 10px;
}

.order_form > ul > li {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 60%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.cart {
  position: relative;
}

.cart::before {
  content:"";
  position:absolute;
  top:-15px;
  left:10%;
  height:2px;
  width:80%;
  background-color: black;
}

.cart ul {
  list-style: none;
  padding: 10px;
}

.cart li {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.cart img {
  height: 150px;
  width: 150px;
  padding: 10px;
}

.total {
  font-size: 22px;
}

.order_form button {
  padding: 10px;
  font-size: 21px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(248, 240, 237, 1);
}

.order_form button:hover {
  background-color: #F0B099;
  cursor: pointer;
}
